{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block body %}

<div class="row">   
    <div style = "border : 5px solid indigo; padding: 15px;;" class="col-md-4 offset-md-4">
        <h3> Login </h3>
        <hr style="background: indigo; height: 2px;">
        <form method = "post" class = "bootstarp4">
            {% csrf_token %}
            {{form|crispy}}
            <button style = "color : indigo;  width: 100%; font-weight: bold;" type = "submit"> Login </button>
        </form>
    </div>  
</div>
                
{% endblock body %}
    